.grid {
  display: grid;
  grid-template-columns: repeat(4, 347px);
  column-gap: 20px;
  row-gap: 60px;
  justify-content: center;
}

@media (max-width: 1490px) {
  .grid {
    grid-template-columns: repeat(3, 347px);
  }
}

@media (max-width: 1130px) {
  .grid {
    grid-template-columns: repeat(2, 347px);
  }
}

@media (max-width: 760px) {
  .grid {
    grid-template-columns: 347px;
  }
}